doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    script.
      document.documentElement.className = document.documentElement.className.replace(/\\bno-js\b/g, '') + 'has-js ';
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='{{ renderData.description or description or metadata.description }}')
    title #{title}
    link(rel='stylesheet', href='/styles/index.css')
    link(rel='stylesheet', href='https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.1.0/css/line-awesome.min.css')
  body#top(itemscope='', itemtype='http://schema.org/WebPage').min-h-screen.flex.flex-col
    header.bg-black.text-lg.text-white
      nav.text-xl.flex.justify-between.max-w-xl.m-auto.h-12
        menu.flex.flex-row-reverse.justify-between.content-justify.m-0.p-0.items-center(class="w-2/3 md:flex-1 md:flex-row")
          h2.flex.justify-center.items-center.p-0(class="w-1/2 md:flex-shrink")
            picture
              svg(width="32px" height="32px" viewBox="0 0 99 99")
                path.h-1.w-2(fill="#ffffff" fill-opacity="1" stroke="none" d="M98.477 49.967 C98.477 50.612 98.176 51.236 97.577 51.835 L55.016 52.039 C61.491 58.586 71.133 68.39 83.939 81.454 84.219 81.735 84.364 82.21 84.364 82.881 84.364 83.908 83.727 84.494 82.462 84.63 L52.095 55.333 52.095 97.317 C51.56 98.094 50.91 98.489 50.141 98.489 49.674 98.489 49.016 98.272 48.172 97.844 L47.951 55.333 C46.218 56.93 43.632 59.371 40.206 62.653 36.809 66.05 34.665 69.082 33.786 71.74 32.869 74.491 32.334 76.703 32.19 78.363 32.156 78.614 32.011 81.658 31.765 87.5 31.277 87.883 30.725 88.078 30.118 88.078 29.167 88.078 27.982 86.91 26.568 84.579 26.033 83.628 25.201 82.193 24.072 80.282 22.87 78.656 21.227 77.005 19.146 75.34 18.611 75.06 17.104 74.228 14.629 72.844 12.828 71.863 11.928 70.818 11.928 69.719 11.928 68.772 12.225 68.254 12.828 68.173 17.49 68.173 22.106 67.591 26.67 66.424 29.464 65.723 32.513 63.885 35.807 60.904 37.82 58.993 40.86 56.127 44.928 52.31 L24.819 52.09 C23.469 52.272 22.233 52.489 21.116 52.735 20.004 52.985 18.692 53.427 17.176 54.06 12.646 55.94 8.289 59.091 4.116 63.502 3.98 63.536 3.729 63.553 3.369 63.553 2.133 63.553 1.52 62.636 1.52 60.802 1.52 59.605 1.823 57.745 2.434 55.231 3.054 52.722 3.369 50.845 3.369 49.61 3.369 49.283 3.067 47.385 2.468 43.92 L1.52 38.299 C1.52 37.203 2.188 36.651 3.538 36.651 3.704 36.651 4.731 37.522 6.612 39.25 8.841 41.301 10.964 42.982 12.981 44.294 15.992 46.243 18.875 47.427 21.626 47.844 L44.673 47.691 C35.748 38.218 28.245 33.246 22.169 32.779 20.39 32.681 17.274 32.465 12.828 32.134 12.183 32.1 11.881 31.573 11.928 30.554 11.928 30.274 11.945 29.934 11.979 29.535 12.748 28.903 15.028 27.327 18.824 24.814 21.618 22.95 23.545 21.141 24.598 19.396 25.095 18.449 25.859 17.052 26.891 15.218 28.054 13.193 29.133 12.178 30.118 12.178 30.793 12.178 31.383 12.462 31.884 13.027 L31.884 19.77 C31.948 20.304 32.092 21.277 32.309 22.691 32.406 23.226 32.585 24.198 32.835 25.612 33.001 28.444 34.86 31.751 38.406 35.53 40.452 37.628 43.552 40.766 47.696 44.939 L47.849 25.612 C47.598 23.035 47.029 20.576 46.15 18.241 45.48 16.432 44.24 14.127 42.431 11.329 42.397 11.295 41.263 9.936 39.034 7.252 37.268 5.125 36.385 3.885 36.385 3.533 36.385 2.187 36.966 1.512 38.134 1.512 36.232 1.512 37.425 1.873 41.718 2.582 46.019 3.287 48.859 3.635 50.244 3.635 53.772 3.635 57.597 2.93 61.707 1.512 62.158 1.512 62.565 1.89 62.93 2.633 63.177 3.168 63.304 3.593 63.304 3.907 63.304 4.191 62.501 5.134 60.909 6.726 58.859 8.743 57.228 10.67 56.018 12.5 54.082 15.481 52.77 18.61 52.095 21.893 L52.316 44.939 C71.944 25.412 82.046 15.643 82.614 15.643 83.778 15.643 84.364 16.229 84.364 17.392 84.364 18.445 81.655 21.595 76.245 26.835 70.615 32.282 66.352 36.528 63.457 39.573 61.937 41.093 59.215 43.831 55.288 47.793 L97.322 47.793 C98.091 48.722 98.477 49.448 98.477 49.967 Z M45.199 7.728")
            div.text-white.hidden(class="md:block") Pekoral
          div.group(class="w-1/2 md:flex-1")
            button#hamburger.hamburger.m-1(class="md:hidden") 
              span.hidden Menu
            ul#menu.block.absolute.top-12.left-0.w-full.m-0.hidden.bg-black(class="group-hover:absolute md:flex md:justify-between justify-end md:w-auto md:relative md:bg-transparent")
              li.p-2 Blog
              li.p-2 Om
              li.p-2 Arkiv
        menu.m-0.p-0.flex.justify-center.items-center(class="md:w-1/4 md:flex-shrink")
          div
            button#lookingglass.search
              span.hidden Search
            form#search.block.absolute.top-12.left-0.w-full.m-0.hidden.bg-black(action="")
              input.m-5.rounded.text-black(type="search")
    | !{content}
    footer
      p.text-center &copy; Martin 2019
    script(src='/scripts/index.js')
